<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Founded</th>
        </tr>
    </thead>
    <tbody>
        {{#each teams}}
            <tr>
				<td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{founded}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
